{% extends "base_generic.html" %}

{% block content %}
<div class="row">
  <aside class="col-3">
    <div id="group-list">
      {% block page-info %}{% endblock %}

      <!-- Create Event -->
      <div class="list-group spaced">
        <a class="list-group-item list-group-item-action active" href="{% url 'create_event' %}">New Event</a>
      </div>

      <!-- Group List -->
      <div class="list-group spaced">
        <a class="list-group-item list-group-item-action {% if group_id == 0 %}active{% endif %}" href="{% url 'index' %}">Home Feed</a>
        {% for group in group_list %}
          <a class="list-group-item list-group-item-action {% if group_id == group.id %}active{% endif %}" href="{% url 'group' group.id %}">{{ group.name }}</a>
        {% endfor %}
        <a class="list-group-item list-group-item-action list-group-item-secondary" href="{% url 'create_group' %}">New Group</a>
      </div>
    </div>
  </aside>

  <content class="col-9">

    {% block slide %}{% endblock %}

    <!-- Event Feed -->
    <div id="event-feed">
      {% if event_list %}
        {% for event in event_list %}
        {% if event.id not in hidden %}
        <div class="event card spaced">
          {% if event.picture %}
            <!-- <a href="{% url 'event' event.id %}"> -->
              <img class="card-img-top" src="{{ event.picture.url }}">
            <!-- </a> -->
          {% endif %}
          <div class="card-body">
            <div class="card-aside">
              {% if event.id in hosting %}
                <a href="{% url 'edit_event' event.id %}" class="btn btn-outline-dark">Edit</a>
              {% elif event.id in joined %}
                <a href="{% url 'event_action' event.id 'leave' %}?next={{request.path}}" class="btn btn-light">Leave</a>
              {% else %}
                <a href="{% url 'event_action' event.id 'join' %}?next={{request.path}}" class="btn btn-dark">Join</a>
                {% if group_id == 0 %}
                  <a href="{% url 'event_action' event.id 'hide' %}?next={{request.path}}" class="btn btn-light">Hide</a>
                {% endif %}
              {% endif %}
            </div>
            <div class="card-content">
              <h4 class="card-title">{{ event.title }}</h4>
              <h6 class="card-subtitle mb-2 text-muted">{{ event.location }} • {{ event.time }}</h6>
              <p class="card-text">{{ event.description }}</p>
            </div>
          </div>
          <div class="card-footer card-slide">
            {% for profile in event.hosts.all %}
            <div class="member-icon">
              <a href="{% url 'user' profile.id %}">
                <img src="{{ profile.picture.url }}" title="{{ profile }}">
              </a>
            </div>
            {% endfor %}
            {% if event.joined.all %}|{% endif %}
            {% for profile in event.joined.all %}
            <div class="member-icon">
              <a href="{% url 'user' profile.id %}">
                <img src="{{ profile.picture.url }}" title="{{ profile }}">
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
        {% endfor %}
      {% else %}
        <p class="spaced">No upcoming events</p>
      {% endif %}
    </div>
  </content>
</div>
{% endblock %}

{% block script %}
  <script>
    // this resizes the page's picture to a square if it exists
    $(window).resize(() => {
      $(".page-info img").height($(".page-info img").width())
    }).resize();
  </script>
{% endblock %}