{% extends "base_generic.html" %}

{% block content %}
<div class="event card spaced">
    <h4 class="card-header">Change Password</h4>
    <div class="card-body">
    <form action="{% url 'change_password' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="pretty-form">
        {% for field in form %}
        <h5>{{ field.label }}</h5>
        <p>
        {{ field }}
        {% endfor %}
        {% if messages %}
        <div class="row">
            <div class="col-sm-8">
          <ul class="messages">
            {% for message in messages %}
              <div class="alert {{ message.tags }} alert-dismissable" role="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <strong>{% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</strong>
                </button>
              </div>
            {% endfor %}
          </ul>
      </div>
      </div>
        {% endif %}
        </table>
        <input type="submit" value="Save Changes" />
    </form>
  </div>
</div>
{% endblock %}
