<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create group</title>
</head>
<body>
<h1>Create Group</h1>
<form action="" method="POST">
    {% csrf_token %}
  <div class="form-group">
    <label>Event Name:</label>
    <input type="Text" class="form-control" id="event name"  placeholder="Enter event name">
  </div>
    <h2> </h2>
  <div class="form-group">
    <label>Description</label>
    <textarea class="form-control" id="descriotion" rows="3"></textarea>
      <small id="descHelp" class="form-text text-muted">Write something about your group.</small>

  </div>
    <h2> </h2>
  <div class="form-group">
    <label>Image</label>
    <input type="file" class="form-control-file" id="InputFile" aria-describedby="fileHelp">
      <small id="fileHelp" class="form-text text-muted">Submit an image to describe your event here.</small>
  </div>
    <h2> </h2>
    <div class="form-group">
    <label>Members:</label>
    <input type="Text" class="form-control" id="Members" >
        <small id="member help" class="form-text text-muted">Enter comma separated list of usernames</small>

  </div>
  <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>