{% extends "base_feed.html" %}

{% block title %}<title>{{ group }}</title>{% endblock %}

{% block content %}{{ block.super }}{% endblock %}

{% block page-info %}
	<div class="page-info card spaced">
		{% if group.picture %}
		<img class="card-img-top" src="{{ group.picture.url }}" alt="{{ group }}">
		{% endif %}
		<div class="card-body">
			<h4 class="card-title">{{ group }}</h4>
			<p class="card-text">{{ group.description }}</p>
		</div>
	</div>
{% endblock %}

{% block slide %}
  <!-- Members -->
	<div class="card spaced" id="slide">
	  <h4 class="card-header">Members</h4>
    <div class="card-slide">
    	{% for user in members %}
    		<div class="member-icon">
    			<a href="{% url 'user' user.id %}">
    				<img src="{{ user.picture.url }}" title="{{ user }}">
    			</a>
    		</div>
      {% endfor %}
    </div>
	</div>
{% endblock %}