{% extends "base_feed.html" %}

{% block title %}<title>{{ group }}</title>{% endblock %}

{% block page-info %}
	<div class="page-info card spaced">
		{% if group.picture %}
			<img class="card-img-top" src="{{ group.picture.url }}" alt="{{ group }}">
		{% endif %}
		<div class="card-body">
			<h4 class="card-title">{{ group }}</h4>
			<p class="card-text">{{ group.description }}</p>
			{% if viewer in members %}
			<div class="page-buttons">
				<a href="{% url 'edit_group' group.id %}" class="btn btn-outline-dark">Edit</a>
				<a href="{% url 'group_action' group.id 'leave' %}?next={{request.path}}" class="btn btn-light">Leave</a>
			</div>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block slide %}
  <!-- Members -->
  {% if members %}
		<div class="card spaced" id="slide">
		  <h4 class="card-header">Members</h4>
	    <div class="card-slide">
	    	{% for profile in members %}
	    		<div class="member-icon">
	    			<a href="{% url 'user' profile.id %}">
	    				<img src="{{ profile.picture.url }}" title="{{ profile }}">
	    			</a>
	    		</div>
	      {% endfor %}
	    </div>
		</div>
	{% endif %}
{% endblock %}