{% extends "base_feed.html" %}

{% block slide %}
  <!-- Upcoming Events -->
  {% if upcoming %}
    <div class="card spaced" id="slide">
      <h4 class="card-header">Upcoming</h4>
      <div class="card-body">
        <div class="card-slide">
          {% for event in upcoming %}
            <div class="event card">
              <div class="card-body">
                <h5 class="card-title">{{ event.title }}</h5>
                <h6 class="card-subtitle text-muted">{{ event.location }}</h6>
              </div>
              <div class="card-footer">{{ event.time }}</div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}