{% extends "base_generic.html" %}
{% block title %}<title>Group Manager</title>{% endblock %}
{% block content %}
  <div id="accordion" role="tablist">
      <div class="card spaced">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
            <a class="list-group-item list-group-item-action" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Create Group
            </a>
          </h5>
        </div>
        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <label>Group Name</label>
            <input type="text" class="form-control" placeholder="Enter group name">
            <br>
            <label>Group Description</label>
            <textarea class="text-large" rows="5"></textarea>
            <br><br>
            <label>Group Logo</label>
            <button>Upload Picture</button>
            <br><br>
            <label>Invite Members</label>
            <input type="text" class="form-control" placeholder="Enter names to invite">
            <br><br>
            <button type="button" class="btn btn-dark">Create</button>
          </div>
        </div>
      
      
        <div class="card-header" role="tab" id="headingTwo">
          <h5 class="mb-0">
            <a class="list-group-item list-group-item-action" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Edit Groups
            </a>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <div id="group-list">
            <div class="list-group" id="list-tab" role="tablist">
            {% if group_list %}
          		{% for group in group_list %}
              <a class="list-group-item list-group-item-action list-group-small {% if group_id == group.id %}active{% endif %}" href="#">{{ group.name }}</a>
            	{% endfor %}
        	{% endif %}
            </div>
            </div>
          </div>
        </div>
      
      
        <div class="card-header" role="tab" id="headingThree">
          <h5 class="mb-0">
            <a class="list-group-item list-group-item-action" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Search Groups
            </a>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <label>Search by group name</label>
            <input type="text" class="form-control" placeholder="Enter group name">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}