{% extends "base_generic.html" %}
{% block title %}<title>Account Settings</title>{% endblock %}
{% block content %}
  <div class="title-header spaced">
    <h1>Account Settings</h1>
  </div>

  <!-- Profile Pic Card -->
  <div class="card spaced">
    <h3 class="card-header">Profile Picture</h3>
    <div class="card-body">
      <div class="input-group">
        <div class="form-group">
          {% load static %}
          <img class="img-thumbnail mb-2" src="{{ viewer.picture.url }}">
          <br>
          <input type="file" class="form-control-file">
          <br>
          <a href="#" class="btn btn-light">Change Profile Picture</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Name Card -->
    <div class="card spaced">
      <h3 class="card-header">Name</h3>
      <div class="card-body">
        <div class="input-group">
          <span class="input-group-addon">First Name</span>
          <input type="text" class="form-control" value="{{ user.first_name }}">
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon">Last Name</span>
          <input type="text" class="form-control" value="{{ user.last_name }}">
        </div>
      </div>
    </div>

  <!-- Username Card -->
  <!-- Will figure out with login/logout -->
  <div class="card spaced">
    <h3 class="card-header">Username</h3>
    <div class="card-body">
      <!-- <div class="card-text">How you appear to others</div>
      <br> -->
      <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" class="form-control" value="{{ user.username }}">
      </div>
    </div>
  </div>

  <!-- Password Card -->
  <div class="card spaced">
    <h3 class="card-header">Password</h3>
    <div class="card-body">
      <div class="input-group">
        <span class="input-group-addon" id="pass-addon">Password</span>
        <input type="text" class="form-control">
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon" id="pass-addon">Confirm</span>
        <input type="text" class="form-control">
      </div>
      <br>
      <div class="btn btn-light">Change Password</a>
    </div>
  </div>
{% endblock %}