{% extends "index.html" %}

{% block title %}<title>{{ profile }}</title>{% endblock %}

{% block page-info %}
	<div class="page-info card spaced">
		<img class="card-img-top" src="{{ profile.picture.url }}" alt="{{ profile }}">
		<div class="card-body">
			<h4 class="card-title">{{ profile }}</h4>
			<h6 class="card-subtitle mb-2 text-muted">@{{ profile.user.username }}</h6>
			{% if is_friend %}
				<div class="page-buttons">
					<a href="{% url 'user_action' user.id 'unfriend' %}?next={{request.path}}" class="btn btn-light">Unfriend</a>
				</div>
			{% else %}
				<div class="page-buttons">
					<a href="{% url 'user_action' user.id 'friend' %}?next={{request.path}}" class="btn btn-dark">Friend</a>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
